.header {
  border-style: none;
  background-image: linear-gradient(90deg, rgba(59, 104, 155, .25), rgba(59, 104, 155, .50), rgba(59, 104, 155, .75), rgba(59, 104, 155, 1));
}

.badge {
  background-color: rgb(59, 104, 155);
}

.card-title {
  font-weight: bold;
}

.card-subtitle {
  font-weight: bold;
}

.icons {
  font-size: 30px;
  color: rgb(59, 104, 155);
}

.cardInfo {
  margin-top: 30px;
  margin-bottom: 45px;
  box-shadow: .25rem .25rem rgba(0,0,0,.075)!important;
}

.ball {
  color: rgba(59, 104, 155, 0.1);
  width: 35px;
  height: 35px;
  position: absolute;
}